.user-data {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}

.user-data .btn {
  margin-top: 1rem;
  margin-left: 0rem;
}

.username-container,
.password-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.username-container > p {
  font-weight: 700;
  font-size: 1.5rem;
}

.no-post-message {
  text-align: center;
  margin-top: 2rem;
}

.username-container > *:not(.btn),
.password-container > *:not(.btn) {
  text-align: center;
  width: 50%;
}
