header {
  height: 10vh;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.log-container > button {
  margin-top: 0;
}

.hamburguer-nav {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  width: 100%;
  z-index: 111;
}
.hamburguer-nav ul {
  text-align: center;
}

.hamburguer-nav li {
  list-style: none;
  margin-bottom: 0.5rem;
  border-bottom: 0.5px solid var(--background-color);
  padding: 0.2rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
}

h2 {
  color: white;
  transition: all 0.5s ease;
}

h2:hover {
  font-size: 1.7rem;
  padding: 0%;
}

.hamburguer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 1.5rem;
  height: 2px;
  margin-top: 0.2rem;
  background-color: white;
}
