.register-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  padding-bottom: 2rem;
}

.register-container > form > .btn {
  margin-left: 0;
  margin-top: 2rem;
}

input {
  max-width: 15rem;
  padding: 0.5rem;
  color: black;
}
