.post-container {
  background-color: var(--primary-color);
  color: white;
  border-radius: 7px;
  margin-bottom: 2rem;
  width: 320px;
  margin: 2rem auto;
}

.post-image {
  height: 360px;
  width: 100%;
  object-fit: scale-down;
  /*  object-position: center center; */
  background-color: black;
  border-radius: 7px 7px 0 0;
}

.post-info {
  padding: 0.7rem;
}

.post-info > div:nth-child(2) {
  position: relative;
  width: 100%;
}

.post-info > :nth-child(2) h3 {
  color: white;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.post-info > div:nth-child(2) > * {
  margin-bottom: 0.5rem;
}

.post-info > div:nth-child(2) > :nth-child(4) {
  font-weight: 650;
  display: flex;
  justify-content: space-between;
}

.post-info .btn {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.post-info > div:nth-child(2) > :nth-child(4) > p {
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
}

.comments-section {
  position: absolute;
  background: var(--primary-color);
  width: 100%;
  padding: 0.5rem;
  word-wrap: break-word;
  border-radius: 3px;
  z-index: 11;
}

.comments-section > div {
  padding: 0.5rem;
  border-bottom: 1px solid var(--background-color);
}

.comments-section > div > p {
  font-weight: 250;
}

.user-and-date {
  color: white;
  display: flex;
  justify-content: space-between;
}

.user-and-date > time {
  font-weight: 200;
  font-size: 0.9rem;
}

.show-comments {
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}
