.login-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  padding-bottom: 2rem;
}

.login-container > form > .btn {
  margin-left: 0;
  margin-top: 2rem;
}

.welcome {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 2rem;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  color: black;
  width: 20rem;
}
