main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.input-search {
  padding: 0.4rem;
  font-size: 1.1rem;
  width: 60%;
  border-radius: 8px;
  border: none;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2rem 0 2rem;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}
.search-container :nth-child(1) {
  display: flex;
}

.search-container > div > p {
  color: #cc0000;
  position: absolute;
  bottom: -50%;
}

.post-info {
  display: flex;
}

@media screen and (min-width: 680px) {
  .posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.5rem;
  }
  .input-search {
    width: 100%;
  }
}
