main {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.input-search {
  padding: 0.4rem;
  font-size: 1.1rem;
  width: 60%;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;
  justify-content: space-around;
}

.search-container > div > p {
  color: #cc0000;
  position: absolute;
  bottom: -50%;
}

.post-info {
  display: flex;
}

@media screen and (min-width: 680px) {
  .posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 0.5rem;
  }
}
